*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}   

a{
    text-decoration: none;
    color: white;
}

li {
    text-decoration: none;
    list-style: none;
}

header {
    color: white;
    height: 100vh;
    background-image:  url('img/bg-image1.png');
    background-color: #2f3628;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-top {
    padding-top: 1%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.nav-menu {
    font-size: 24px;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}




@media screen and (max-width: 1400px) {
    .nav-menu {
        width: 70%
    }
}

.nav-menu a:not(:first-child):hover{
    border-bottom: 2px solid black;
}

#menu {
    position: fixed;
    right: 10%;
    font-size: 32px;
    display: none;
    cursor: pointer;
    transition: right 0.5s;
}
 

@media screen and (max-width: 1280px) {
    .nav-menu {
        z-index: 10;
        width: 25%;
        right: -100%;
        display: flex;
        flex-direction: column;
        position: fixed;
        border-radius: 25px;
        transition: right 0.5s;
    }
    
    .nav-menu a {
        display: none;
    }
    #menu {
        display: block;
    }

    .nav-menu.responsive #menu {
        right: 2%;
    }

    .nav-menu.responsive {
        background-color: rgb(90, 64, 16, 0.8);
        right: 1%;
    }


    .nav-menu.responsive a {
        display: block;
        text-align: center;
    }
}

.header-middle {
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.9s ease 0s;
}

.header-middle._active {
    transform: translate(0px, 0px);
    opacity: 1;
}

.header-middle h3{
    font-size: 35px;
    font-weight: 300;
    text-align: center;
}

.header-middle p {
    text-align: center;
    font-size: 1.5em;
    font-weight: 300;
}

.header-wrapper {
    margin: 0 auto;
    width: 80%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 32px;
    transform: translate(0px, -120%);
    opacity: 0;
    transition: all 0.9s ease 0s;
}

.logo._active {
    transform: translate(0px, 0px);
    opacity: 1;
}

.next-part{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    border: none;
    background-color: #19BD9A;
    position: relative;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.next-part span {
    height: 2px;
    display: block;
    border-radius: 2px;
    width: 30px;
    background-color: white;
    position: absolute;
}

.next-part span:nth-child(1) {
    transform: rotate(-70deg);
    top: 25px;
    right: 5px;
    
}
.next-part span:nth-child(2) {
    transform: rotate(70deg);
    top: 25px;
    left: 5px;
}

/*ABOUT US*/
.about-us {
    min-height: 50vh;
    width: 60%;
    color: #333B46;
    margin: 0 auto;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

@media screen and (max-height: 740px) {
    .about-us {
        min-height: 70vh;
    }
}

.about-us-wrapper {
    position: absolute;
    top: 20%;
    height: 80%;
    display: flex;
}

.about-us-image {

    width: 40%;
    display: flex;
    justify-content: center;
}
.about-us-text {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;

}

.about-us-text h3 {
    padding: 5% 0; 
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
}
.about-us-text p {
    padding: 5% 0; 
}
.about-us-text a {
    text-align: center;
    color: #333B46;
    font-size: 16px;
    margin-top: 5%;
    width: 300px;
    border: 1px solid grey;
    border-radius: 25px;
    padding: 10px 0;
}


@media screen and (max-width: 1024px) {
    .about-us {
        width: 80%;
    }
}

@media screen and (max-width: 1024px) {
    .about-us {
        width: 80%;
    }
}

.up-button  {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-left: 10px;
    cursor: pointer;
    border: none;
    background-color: #19BD9A;
    position: sticky;
    bottom: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


.up-button span {
    height: 2px;
    display: block;
    border-radius: 2px;
    width: 30px;
    background-color: white;
    position: absolute;
}

.up-button  span:nth-child(1) {
    transform: rotate(70deg);
    top: 25px;
    right: 5px;
    
}
.up-button  span:nth-child(2) {
    transform: rotate(-70deg);
    top: 25px;
    left: 5px;
}

/*PORTFOLIO*/
.portfolio {
    min-height: 100vh;
    background-color: #bbbbbb;
    color: #333B46;
    padding-bottom: 2%;
}

.portfolio-wrapper {
    padding-top: 25px;
    width: 90%;
    height: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.portfolio-text {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding-bottom: 50px;
}

.portfolio-text h3 {
    font-size: 20px;
    letter-spacing: 2px;
    padding-bottom: 20px;
}

.portfolio-text p {
    line-height: 150%;
}

.portfolio-images {
    margin-bottom: 50px;
}

.tab {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    border-bottom: 2px solid #19BD9A;
}

.tabcontent {
    grid-template-columns: repeat(4, 24%);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1%;
    padding: 6px 12px;
}

.tabcontent {
    animation: fadeEffect 1s;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.tab-card {
    position: relative;
}

.tab-card:hover::before{
    background-color: rgba(0,0,0,0.5);
}

.tab-card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0);
}

.tab-card:hover .tab-card__description{
    display: block;
}

.tab-card__description {
    display: none;
    position: absolute;
    height: 80%;
    width: 80%;
    top: 10%;
    left: 10%;

}

.tab-card__description h3{
    color: #19BD9A;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 3px;
    padding-top: 20%;
}
.tab-card__description span {
    margin-top: 10%;
    display: block;
    width: 50px;
    height: 4px;
    background-color: #19BD9A;
}
.tab-card__description p{
    color: white;
    padding-top: 20%;
}
.tab-card__description div{
    padding-top: 20%;
    display: flex;
    flex-direction: row;
}
.tab-card__description div button{
    color: white;
    background-color: black;
    cursor: pointer;
    border: none;
    height: 60px;
    width: 60px;
    margin: auto 5%;
    padding: 20px;
    border-radius: 50%;
    outline: none;
}

@media screen and (max-width: 1024px) {
    .tab-card__description div {
        padding-top: 10%;
    }
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


.portfolio-form {
    background-image: linear-gradient(rgba(26, 80, 19, 0.6), rgba(35, 10, 180, 0.2)) ,url("img/bg-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.portfolio-form p {
    padding-top: 25px;
    text-align: center;
    width: 70%;
}

.portfolio-form a {
    text-align: center;
    color: white;
    font-size: 16px;
    margin-top: 2%;
    width: 300px;
    border: 1px solid white;
    border-radius: 25px;
    padding: 10px 0;
    margin-bottom: 25px;
}

.subscribe-form {
    height: 30vh;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.7)) ,url("img/bg-image2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    color: white;
}

.subscribe-wrapper {
    height: 100%;
    width: 60%;
    margin: 0 auto;
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}



.subscribe-text h3 {
    letter-spacing: 2px;
    font-weight: 300;
}

.subscribe-text p {
    padding-top: 20px;
    font-weight: 300;
}

.subscribe-buttons {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 1280px) {
    .subscribe-buttons {
        width: 70%;
    }
}

.subscribe-buttons #email {
    width: 60%;
    padding: 15px 20px;
    background: none;
    color: white;
    border: 1px solid white;
}

.subscribe-buttons #submit-email {
    width: 30%;
    padding: 15px 20px;
    background-color: #19BD9A;
    border: none;
    color: white;
}

footer {
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer-wrapper h3{
    margin-bottom: 4%;
}
.footer-wrapper p{
    margin-bottom: 4%;
}

.footer-wrapper div {
    display: grid;
    grid-template-columns: repeat(5, 20%);
}